@use '_core/styles/mixins' as *;

.container {
    align-self: center;
    min-width: 500px;
    max-width: 700px;

    @include flex-column;

    gap: var(--spacing-xlarge);

    .switcher {
        align-self: flex-end;
        display: flex;
        border: 1px solid var(--color-grey-borders);
        background-color: var(--color-grey2);
        border-radius: var(--spacing-small);
        padding: var(--spacing-medium);

        .language {
            padding: var(--spacing-medium) var(--spacing-xlarge);

            @include font-size(16);

            text-transform: uppercase;

            &.active {
                border: 1px solid var(--color-grey5);
                background-color: var(--color-grey5);
                border-radius: var(--spacing-small);
                color: var(--color-grey4);
            }
        }
    }
}
